<!doctype html>
{% extends "layout.html" %}
{% block body %}
<div class="ui container">
  <div class="ui segments">
    <h4 class="ui top sub attached header">Overview</h4>
    <div class="ui attached segment">
      <div class="ui grid">
        <div class="three wide column">
          <h4 class="ui header">Total Capacity
            <div class="sub header">{{ stats.total_capacity|format_thousands_int }} satoshis</div>
          </h4>
          <div class="ui clearing divider"></div>
          <h4 class="ui header">Peer Count
            <div class="sub header">{{ stats.peer_count|format_thousands_int }} peers</div>
          </h4>
            <div class="ui clearing divider"></div>
          <h4 class="ui header">Channel Count
            <div class="sub header">{{ stats.channel_count|format_thousands_int }} channels</div>
          </h4>
          <div class="ui clearing divider"></div>
          <h4 class="ui header">Bytes Sent
            <div class="sub header">{{ stats.bytes_sent|convert_bytes }}</div>
          </h4>
          <div class="ui clearing divider"></div>
          <h4 class="ui header">Bytes Received
            <div class="sub header">{{ stats.bytes_received|convert_bytes }}</div>
          </h4>
        </div>
        <div class="three wide column">
          <h4 class="ui header">Local Balance
            <div class="sub header">{{ stats.total_local_balance|format_thousands_int }} satoshis</div>
          </h4>
          <div class="ui clearing divider"></div>
          <h4 class="ui header">Remote Balance
            <div class="sub header">{{ stats.total_remote_balance|format_thousands_int }} satoshis</div>
          </h4>
          <div class="ui clearing divider"></div>
          <h4 class="ui section header">Outbound Payments
            <div class="sub header">{{ stats.total_sent|format_thousands_int }} satoshis</div>
          </h4>
          <div class="ui clearing divider"></div>
          <h4 class="ui header">Inbound Payments
            <div class="sub header">{{ stats.total_received|format_thousands_int }} satoshis</div>
          </h4>
          <div class="ui clearing divider"></div>
          <h4 class="ui header">Commit Fees
            <div class="sub header">{{ stats.total_commit|format_thousands_int }} satoshis</div>
          </h4>
        </div>
        <div class="ten wide column">
          <div id="pieChart"></div>
          <script>var data = [{
            values: [{{ stats.total_local_balance }}, {{ stats.total_remote_balance }}, {{ stats.total_commit }}],
            labels: ['Local Balance', 'Remote Balance', 'Commit Fees'],
            marker: {
              colors: ['#2185D0', '#DB2828', '#21BA45'],
            },
            domain: {column: 0},
            name: '',
            type: 'pie',
          },{
            values: [{{ stats.total_sent }}, {{ stats.total_received }}],
            labels: ['Outbound Payments', 'Inbound Payments'],
            marker: {
              colors: ['#FBBD08', '#F2711C'],
            },
            name: '',
            domain: {column: 1},
            type: 'pie',
          }];

          var layout = {
            title: 'Channel Liquidity (in satoshis)',
            grid: {rows: 1, columns: 2},
            height: 350,
            showlegend: true,
          };
          Plotly.newPlot('pieChart', data, layout);</script>
        </div>
      </div>
    </div>
    <div class="ui attached segment">
      <div id="scatterPlotCapacity"></div>
      <script>
        var data = [{{ scatterPlotCapacity }}];

        var layout = {
        title: 'Channel Capacity vs Relative Balance',
        xaxis: {
          range: [0, 100],
          ticksuffix: '%',
          title: {text: 'Local Balance (%)'}
        },
        yaxis: {
          type: 'log',
          ticksuffix: ' sats',
          showticksuffix: false,
          title: {text: 'Capacity (in satoshis)'}
        },
        shapes: [
          {
              type: 'rect',
              xref: 'x', x0: '0', x1: '20',
              yref: 'paper', y0: 0, y1: 1,
              fillcolor: '#DB282810',
              layer: "below",
              line: { width: 0 },
          },
          {
              type: 'rect',
              xref: 'x', x0: '80', x1: '100',
              yref: 'paper', y0: 0, y1: 1,
              fillcolor: '#DB282810',
              layer: "below",
              line: { width: 0 },
          },
        ],
        height: 450,
        showlegend: false,
      };
      Plotly.newPlot('scatterPlotCapacity', data, layout);</script>
    </div>
    <div class="ui attached segment">
      <div id="scatterPlotActivity"></div>
      <script>
        var data = [{{ scatterPlotActivity }}];

        var layout = {
        title: 'Channel Capacity vs Channel Activity',
        xaxis: {
          type: 'log',
          dtick: 1,
          ticksuffix: '%',
          title: {text: 'Activity (%) - (sent+received)/capacity'}
        },
        yaxis: {
          type: 'log',
          ticksuffix: ' sats',
          showticksuffix: false,
          title: {text: 'Capacity (in satoshis)'}
        },
        height: 450,
        showlegend: false,
      };
      Plotly.newPlot('scatterPlotActivity', data, layout);</script>
    </div>
  </div>
  {% for peer in peers %}
  <div class="ui segments" id="{{ peer.pub_key }}@{{ peer.address }}">
    <h4 class="ui top sub attached header">Peer: {{ peer.pub_key }}@{{ peer.address }}</h4>
    <div class="ui attached segment">
      <div class="ui grid">
        <div class="three wide column">
          {% set uri = peer.pub_key + "@" + peer.address %}
          <div id="qrcode-{{ uri }}"></div>
          <script type="text/javascript">
            new QRCode(document.getElementById("qrcode-{{ uri }}"), {
              text: "{{ uri }}",
              width: 128,
              height: 128,
            });
          </script>
          <div class="ui divided relaxed list">
            <div class="item">
              <div class="content">
                <div class="header">Name</div>
                <div class="description"><i class="stop icon" style="color: {{ peer.color }}"></i>{{ peer.alias }}</div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <div class="header">Channel Count</div>
                <div class="description">{{ peer.channels|length }} channels</div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <div class="header">Outbound Payments</div>
                <div class="description">{{ peer.sats_sent|format_thousands_int }} satoshis</div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <div class="header">Inbound Payments</div>
                <div class="description">{{ peer.sats_received|format_thousands_int }} satoshis</div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <div class="header">Bytes Sent</div>
                <div class="description">{{ peer.bytes_sent|convert_bytes }}</div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <div class="header">Bytes Received</div>
                <div class="description">{{ peer.bytes_received|convert_bytes }}</div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <div class="header">Latency</div>
                <div class="description">{{ peer.ping_time|format_thousands_int }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="thirteen wide column">
          {% if peer.channels|length > 0 %}
          <div class="ui segments">
            {% for channel in peer.channels %}
            <h5 class="ui sub attached header">Channel: {{ channel.chan_id}}</h5>
            {% if channel.active == True %}
            <div class="ui green attached segment">
              <a class="ui green ribbon label">Active</a>
            {% else %}
            <div class="ui red attached segment">
              <a class="ui green ribbon label">Inactive</a>
            {% endif %}
              <div class="ui blue progress" id="balance{{ channel.chan_id }}">
                <div class="bar">
                  <div class="progress"></div>
                </div>
                <div class="label">Capacity: {{ channel.capacity|format_thousands_int }} satoshis</div>
              </div>
              <script>$('#balance{{ channel.chan_id }}').progress({
                total: {{ channel.capacity }},
                value: {{ channel.local_balance }},
              });</script>
              <div class="ui two column very relaxed grid">
                <div class="column">
                  <div class="ui divided relaxed list">
                    <div class="item">
                      <div class="content">
                        <div class="header">Local Balance</div>
                        <div class="description">{{ channel.local_balance|format_thousands_int }} satoshis</div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="content">
                        <div class="header">Inbound Payments</div>
                        <div class="description">{{ channel.received|format_thousands_int }} satoshis</div>
                      </div>
                    </div>
                  </div>
                  <div class="ui compact mini menu">
                    <a class="item">
                      <i class="arrow alternate circle right icon"></i>Base Fee
                      <div class="floating ui blue mini label">{{ channel.local_policy.fee_base_msat }}</div>
                    </a>
                    <a class="item">
                      <i class="icon percent"></i>Fee Rate
                      <div class="floating ui blue mini label">{{ channel.local_policy.fee_rate }}</div>
                    </a>
                    <a class="item">
                      <i class="icon key"></i>Min HTLC
                      <div class="floating ui blue mini label">{{ channel.local_policy.min_htlc }}</div>
                    </a>
                    <a class="item">
                      <i class="icon clock outline"></i> Time Lock Delta
                      <div class="floating ui blue mini label">{{ channel.local_policy.time_lock_delta }}</div>
                    </a>
                  </div>
                </div>
                <div class="column">
                  <div class="ui divided relaxed list">
                    <div class="item">
                      <div class="content">
                        <div class="header">Remote Balance</div>
                        <div class="description">{{ channel.remote_balance|format_thousands_int }} satoshis
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="content">
                        <div class="header">Outbound Payments</div>
                        <div class="description">{{ channel.sent|format_thousands_int }} satoshis
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ui compact mini menu">
                    <a class="item">
                      <i class="arrow alternate circle right icon"></i>Base Fee
                      <div class="floating ui red mini label">{{ channel.remote_policy.fee_base_msat }}</div>
                    </a>
                    <a class="item">
                      <i class="icon percent"></i>Fee Rate
                      <div class="floating ui red mini label">{{ channel.remote_policy.fee_rate }}</div>
                    </a>
                    <a class="item">
                      <i class="icon key"></i>Min HTLC
                      <div class="floating ui red mini label">{{ channel.remote_policy.min_htlc }}</div>
                    </a>
                    <a class="item">
                      <i class="icon clock outline"></i>Time Lock Delta
                      <div class="floating ui red mini label">{{ channel.remote_policy.time_lock_delta }}</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
