<!doctype html>
{% extends "layout.html" %}
{% block body %}
<div class="ui container">
  <div class="ui segments">
    {% if uris|length > 0 %}
    <h4 class="ui top sub attached header">Node: {{ uris[0] }}</h4>
    {% else %}
    <h4 class="ui top sub attached header">Node: {{ identity_pubkey }}</h4>
    {% endif %}
    <div class="ui attached segment">
      <div class="ui grid">
        <div class="three wide column">
          <h4 class="ui header">Name
            <div class="sub header">{{ alias }}</div>
          </h4>
          <div class="ui clearing divider"></div>
          <h4 class="ui header">Blockchain
            <div class="sub header">{{ chains[0] }}</div>
          </h4>
          <div class="ui clearing divider"></div>
          <h4 class="ui header">Block Height
            <div class="sub header"><a href="https://www.smartbit.com.au/block/{{ block_height }}">{{ block_height }}</a></div>
          </h4>
          <div class="ui clearing divider"></div>
          <h4 class="ui header wrap">Synchronized
            <div class="sub header">{{ synced }}</div>
          </h4>
          <div class="ui clearing divider"></div>
          <h4 class="ui header">LND Version
            <div class="sub header">{{ version }}</div>
          </h4>
        </div>
        <div class="three wide column">
          <h4 class="ui header">Total Capacity
            <div class="sub header">{{ total_capacity|format_thousands_int }} satoshis</div>
          </h4>
          <div class="ui clearing divider"></div>
          <h4 class="ui header">Peer Count
            <div class="sub header">{{ num_peers|format_thousands_int }} peers</div>
          </h4>
          <div class="ui clearing divider"></div>
          <h4 class="ui section header">Active Channel Count
            <div class="sub header">{{ num_active_channels|format_thousands_int }}</div>
          </h4>
          <div class="ui clearing divider"></div>
          <h4 class="ui section header">Pending Channel Count
            <div class="sub header">{{ num_pending_channels|format_thousands_int }}</div>
          </h4>
          <div class="ui clearing divider"></div>
          <h4 class="ui section header">Inactive Channel Count
            <div class="sub header">{{ num_inactive_channels|format_thousands_int }}</div>
          </h4>
        </div>
        <div class="six wide column"></div>
        <div class="four wide right aligned column">
          <h1 class="ui header">Connect</h4>
          <div id="qrcode"></div>
          <script type="text/javascript">
            {% if uris|length > 0 %}
            new QRCode(document.getElementById("qrcode"), "{{ uris[0]}}");
            {% else %}
            new QRCode(document.getElementById("qrcode"), "{{ identity_pubkey }}");
            {% endif %}
          </script>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
