<!doctype html>
{% extends "layout.html" %}
{% block body %}
<div class="ui container">
  <div class="ui segments">
    <h4 class="ui top sub attached header">Node: {{ uris[0] }}</h4>
    <div class="ui attached segment">
      <div class="ui grid">
        <div class="three wide column">
          <h4 class="ui header">Name
            <div class="sub header">{{ alias }}</div>
          </h4>
          <div class="ui clearing divider"></div>
          <h4 class="ui header">Blockchain
            <div class="sub header">{{ chains[0] }}</div>
          </h4>
          <div class="ui clearing divider"></div>
          <h4 class="ui header">Block Height
            <div class="sub header"><a href="https://www.smartbit.com.au/block/{{ block_height }}">{{ block_height }}</a></div>
          </h4>
          <div class="ui clearing divider"></div>
          <h4 class="ui header">Block Hash
            <div class="sub header"><a href="https://www.smartbit.com.au/block/{{ block_hash }}">{{ block_hash }}</a></div>
          </h4>
          <div class="ui clearing divider"></div>
          <h4 class="ui header">LND Version
            <div class="sub header">{{ version }}</div>
          </h4>
        </div>
        <div class="three wide column">
          <h4 class="ui header">Total Capacity
            <div class="sub header">{{ total_capacity|format_thousands_int }} satoshis</div>
          </h4>
          <div class="ui clearing divider"></div>
          <h4 class="ui header">Peer Count
            <div class="sub header">{{ num_peers|format_thousands_int }} peers</div>
          </h4>
          <div class="ui clearing divider"></div>
          <h4 class="ui section header">Channel Count
            <div class="sub header">{{ num_active_channels|format_thousands_int }}</div>
          </h4>
          <div class="ui clearing divider"></div>
        </div>
        <div class="five wide column"></div>
        <div class="five wide right aligned column">
          <h1 class="ui header">Connnect</h4>
          <img src="{{ qrcode(uris[0], box_size=8) }}"></img>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
