<head>
  <title>Lightning Dashboard</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/static/semantic.min.css">
  <script src="/static/semantic.min.js"></script>
  <script src="https://unpkg.com/3d-force-graph"></script>
  <script src="https://unpkg.com/three"></script>
  <script src="https://unpkg.com/three-spritetext"></script>
  <style> body { margin: 0; } </style>
</head>
<body >
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <div class="header item">Lightning Dashboard</div>
      <a href="/" class="item">Home</a>
      <a href="channels" class="item">Channels</a>
      <a href="events" class="item">Events</a>
      <a href="query" class="item">Query</a>
      <a href="map" class="item">Map</a>
    </div>
  </div>
  <div class="container">
    <div id="3d-graph"></div>
    <script>
      const Graph = ForceGraph3D()
      (document.getElementById('3d-graph'))
      .jsonUrl('map_data')
      .forceEngine('d3')
      .numDimensions(2)
      .enableNodeDrag(false)
      .enablePointerInteraction(true)
      .dagLevelDistance(600)
      .nodeAutoColorBy('user')
      .nodeThreeObject(node => {
        const sprite = new SpriteText(node.alias);
        sprite.color = node.color;
        sprite.textHeight = 2;
        return sprite;
      })
      .linkOpacity(0.1)
      .linkDirectionalParticles(1);

      Graph.d3Force('charge').strength(-200);
    </script>
  </div>
</body>
